@charset "UTF-8";

.intro {
  text-align: center;
  font-size: 1.2em;
}

.live-content {
  margin-left: 30px;
}

.section-title {
  font-size: 2em;
  margin-top: 40px;
}

.rules-list li {
  font-size: 1em;
  margin-bottom: 10px;
}